.advantages-list {
	&__item {
		display: block;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	&__thumb {
		margin-bottom: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 120px;

		background-color: $secondary-bg-color;
		border-radius: $border-radius-main;
	}
	&__subtitle {
		font-weight: 700;
		font-size: $font-size-main;
		line-height: 1.14;
		text-transform: uppercase;
		color: $title-text-color;

		margin-bottom: 10px;
		@include breakpoint-max(mobile) {
			text-align: center;
		}
	}
	&__text {
		font-size: $font-size-main;
		line-height: 1.71;
	}
	@include breakpoint(tablet) {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
		&__item {
			@include grid-item-width(60px, 2);
			margin: 15px;
		}
	}
	@include breakpoint(desktop) {
		display: flex;
		margin: 0;
		&__item {
			@include grid-item-max-width(90px, 4);
			margin: 0;

			&:not(:last-child) {
				margin-right: 30px;
			}
		}
	}
}
