.logo {
	display: flex;
	justify-content: center;
	color: $logo-dark-color;
	font-family: $font-family-logo;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.19;

	@include breakpoint(desktop) {
		justify-content: flex-start;
		margin-right: 93px;
		font-size: 26px;
	}

	&__text--accent {
		color: $logo-accent-color;
	}

	&__text--white {
		color: $logo-light-color;
	}
}
.footer__logo {
	margin-bottom: 20px;
	// @include breakpoint(desktop) {
	// 	display: inline-block;
	// }
}
