.page-header {
	border-bottom: 1px solid #ececec;

	&__container {
		display: flex;
		align-items: center;
		@include breakpoint-max(mobile) {
			padding: 16px 15px;
		}
		@include breakpoint-tablet-only {
			justify-content: space-between;
		}
	}
}
.navigation {
	@include breakpoint-tablet-only {
		margin-left: 2px;
	}
}

.navigation__list {
	display: flex;
	@include breakpoint-max(mobile) {
		display: none;
	}
}

.navigation__item {
	position: relative;

	font-weight: 500;
	font-size: $font-size-main;
	line-height: 1.14;
	letter-spacing: $letter-spacing-small;

	color: $title-text-color;

	&:not(:last-child) {
		margin-right: 50px;
	}
}
.page-header__link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	color: $title-text-color;
	--color1: currentColor;

	@include transition-single(color);
	// transition: color $transition-time-main $cubic-bezier;
	&--current {
		color: $accent-color;
	}
	&--current::after {
		position: absolute;
		bottom: 0;
		left: 0;

		width: 100%;
		height: 4px;

		content: "";
		background-color: $accent-color;
		border-radius: 2px;
	}
	&--light {
		display: flex;
		color: $primary-text-color;

		@include transition-single(color);
		// transition: color $transition-time-main $cubic-bezier;
		@include breakpoint-tablet-only {
			&:first-child {
				padding-top: 5px;
				padding-bottom: 5px;
			}
		}
	}
	&:hover,
	&:focus {
		color: $accent-color;
	}
}
.contacts {
	@include breakpoint-max(mobile) {
		display: none;
	}
	display: flex;
	margin-left: auto;
	@include breakpoint-tablet-only {
		flex-direction: column-reverse;
		margin-left: 0;
	}
	&__item {
		font-weight: 500;
		font-size: $font-size-main;
		line-height: 1.14;
		letter-spacing: $letter-spacing-small;
	}
	&__item:not(:last-child) {
		margin-right: 50px;
		@include breakpoint-tablet-only {
			margin: 0;
		}
	}
	&__icon {
		margin-right: 10px;
	}
}
