.page-header {
	border-bottom: 1px solid #ececec;
	position: relative;
	&__container {
		display: flex;
		align-items: center;
		@include breakpoint-max(mobile) {
			padding: 16px 15px;
			justify-content: space-between;
		}
		@include breakpoint-tablet-only {
			justify-content: space-between;
		}
	}

	&__button {
		position: absolute;
		top: 10px;

		right: 15px;
		z-index: 2;
		align-self: flex-end;
		padding: 0;
		margin: 0;
		margin-left: auto;
		background-color: transparent;
		border: none;
		&.is-open {
			position: fixed;
			.page-header__icon {
				&--close {
					opacity: 1;
				}
				&--burger {
					opacity: 0;
				}
			}
		}
		@include breakpoint(tablet) {
			display: none;
		}
	}
	&__icon {
		display: block;
		@include transition-single(fill);

		&:hover,
		&:focus {
			fill: $accent-color;
		}
		&--close {
			opacity: 0;
		}
		&--burger {
			opacity: 1;
		}
	}
}

.navigation {
	@include breakpoint-max(mobile) {
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		bottom: -736px;
		padding: 32px 30px;
		background-color: $main-bg-color;

		display: none;
		&.is-open {
			display: flex;
			flex-direction: column;
			height: 100vh;

			& .navigation__list {
				display: flex;
				flex-direction: column;
			}
		}
	}
	@include breakpoint(tablet) {
		display: flex;
	}

	.mobile-socials {
		font-size: 18px;
		color: $accent-color;
		font-weight: 500;
		line-height: 1.22;
		letter-spacing: $letter-spacing-small;
		&__list {
			display: flex;
			flex-wrap: wrap;
		}
		&__item:not(:last-child) {
			border-right: 1px solid rgba(33, 33, 33, 0.2);
		}
		&__link {
			padding: 0 10px;
		}
		@include breakpoint(tablet) {
			display: none;
		}
	}
}

.navigation__list {
	display: flex;
	@include breakpoint-tablet-only {
		margin-right: 84px;
	}
	@include breakpoint(desktop) {
		margin-right: 305px;
	}
	@include breakpoint-max(mobile) {
		margin-bottom: auto;
	}
}

.navigation__item {
	position: relative;

	color: $title-text-color;

	&:not(:last-child) {
		margin-right: 50px;
	}
}
.page-header__link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	color: $title-text-color;
	--color1: currentColor;

	font-weight: 500;
	font-size: $font-size-main;
	line-height: 1.14;
	letter-spacing: $letter-spacing-small;
	@include breakpoint-max(mobile) {
		font-size: 40px;
		line-height: 1.17;
		letter-spacing: $letter-spacing-small;
		padding: 16px 10px;
	}

	@include transition-single(color);
	// transition: color $transition-time-main $cubic-bezier;
	&--current {
		color: $accent-color;
	}
	@include breakpoint(tablet) {
		&--current::after {
			position: absolute;
			bottom: 0;
			left: 0;

			width: 100%;
			height: 4px;

			content: "";
			background-color: $accent-color;
			border-radius: 2px;
		}
	}
	&--light {
		display: flex;
		color: $primary-text-color;

		@include transition-single(color);
		// transition: color $transition-time-main $cubic-bezier;
		@include breakpoint-tablet-only {
			&:first-child {
				padding-top: 5px;
				padding-bottom: 5px;
			}
		}
	}
	&:hover,
	&:focus {
		color: $accent-color;
	}
}
.contacts {
	@include breakpoint-max(mobile) {
		display: block;
		margin-bottom: 48px;
	}

	@include breakpoint(tablet) {
		display: flex;
		justify-content: center;
	}
	@include breakpoint-tablet-only {
		flex-direction: column;
	}
	&__item {
		@media screen and (max-width: 479px) {
			font-size: 24px;
			.page-header__link {
				font-size: inherit;
			}
			&:last-child {
				font-size: 24px;
				.page-header__link {
					font-size: inherit;
				}
			}
		}
		@media screen and (min-width: 480px) and (max-width: 768px) {
			font-size: 34px;
			.page-header__link {
				font-size: inherit;
			}
			&:last-child {
				font-size: 24px;
				.page-header__link {
					font-size: inherit;
				}
			}
		}
	}
	&__item:not(:last-child) {
		@include breakpoint(desktop) {
			margin-right: 30px;
		}
	}
	&__icon {
		margin-right: 10px;
		@include breakpoint-max(mobile) {
			display: none;
		}
	}
}
