body {
	color: $primary-text-color;
	background-color: $main-bg-color;
	font-family: $font-family-main;
	letter-spacing: $letter-spacing-main;
	font-size: $font-size-main;
}
.container {
	padding-left: $container-padding;
	padding-right: $container-padding;
	margin-left: auto;
	margin-right: auto;

	@include breakpoint(mobile) {
		width: $container-size-mobile;
	}
	@include breakpoint(tablet) {
		width: $container-size-tablet;
	}
	@include breakpoint(desktop) {
		max-width: $container-size;
		width: $container-size;
	}
}

.section {
	padding-top: $section-vertical-padding-mobile-tablet;
	padding-bottom: $section-vertical-padding-mobile-tablet;
	@include breakpoint(desktop) {
		padding-top: $section-vertical-padding;
		padding-bottom: $section-vertical-padding;
	}

	&--desktop-only {
		@include breakpoint-max(tablet) {
			display: none;
		}
	}
}
.section--no-top-padding {
	padding-top: 0;
}
.section__title {
	margin-bottom: 30px;

	text-align: center;
	font-weight: 700;
	font-size: $font-size-title-mobile;
	line-height: 1.18;
	color: $title-text-color;

	@include breakpoint(desktop) {
		margin-bottom: 50px;
		font-size: $font-size-title-desktop;
		line-height: 1.16;
	}
}

.button {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: $letter-spacing-big;
	color: $main-bg-color;
	background-color: $accent-color;
	cursor: pointer;
	border: none;
	font-family: inherit;
	height: 50px;
	width: 200px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: $border-radius-main;
	outline-color: $accent-color;

	@include transition-double(color, background-color);

	// transition: color $transition-time-main $cubic-bezier, background-color $transition-time-main $cubic-bezier;

	&:hover,
	&:focus {
		@include inverse($main-bg-color, $accent-color);
	}
}
